body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex: auto;
}

.navbar {
    display: flex;
    list-style: none ;
}

.container-top{
    display: flex;
}


.main-text{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}